    <script>
      var time = new Date().getTime();

      document.addEventListener("mousemove", () => {
        time = new Date().getTime();     
      });

      document.addEventListener("keypress", () => {
        time = new Date().getTime();     
      });
      
      function refresh() {
        if(new Date().getTime() - time >= 6000) 
          window.location.reload(true);
        else 
          setTimeout(refresh, 1000);
      }

      setTimeout(refresh, 1000);
    </script>       
